version: '3.8'
services:
  n8n:
    image: docker.io/n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n

  postgres:
    image: docker.io/postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: ghjgecr123
      POSTGRES_DB: db
    ports:
      - "5431:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
    volumes:
      - db_data:/var/lib/postgresql/data

  auth-service:
    build: ./services/auth_service
    restart: always
    ports:
      - "8081:8080"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: admin
      DB_PASSWORD: ghjgecr123
      DB_NAME: db
      SERVER_PORT: "8080"
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  db_data:
  n8n_data:
