package pages

import (
    "fmt"
    "web-ui/internal/models"
    "web-ui/views"
    "web-ui/views/components"
)

templ AdminUsersPage(currentUser *models.User, paginated *models.PaginatedUsers, params models.PaginatedUsersQuery) {
    @views.BasePrivate("Управление пользователями", "", components.AdminSidebar(currentUser, "/admin/users"), AdminUsersContent(paginated, params))
}

templ AdminUsersContent(paginated *models.PaginatedUsers, params models.PaginatedUsersQuery) {
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="h3">Пользователи</h1>
			<div>
				<button class="btn btn-success me-2"
                    hx-get="/admin/users/upload-teachers-form"
                    hx-target="#uploadModalContent"
                    hx-swap="innerHTML"
                    data-bs-toggle="modal"
                    data-bs-target="#uploadModal">
                    <i class="bi bi-upload"></i> Загрузить преподавателей
                </button>
				<button class="btn btn-primary"
					hx-get="/admin/users/new"
					hx-target="#userModalContent"
					hx-swap="innerHTML"
					data-bs-toggle="modal"
					data-bs-target="#userModal">
					<i class="bi bi-plus-circle"></i> Создать
				</button>
			</div>
        </div>

        <!-- Фильтры -->
        <div class="card mb-3">
            <div class="card-body">
                <form hx-get="/admin/users/table" hx-target="#usersTableContainer" hx-push-url="true">
                    <div class="row g-3 mb-3">
                        <div class="col-md-4">
                            <input type="text" name="full_name" class="form-control" placeholder="ФИО" value={ selectedOrEmpty(params.FullName) }>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="username" class="form-control" placeholder="Логин" value={ selectedOrEmpty(params.Username) }>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="email" class="form-control" placeholder="Email" value={ selectedOrEmpty(params.Email) }>
                        </div>
					</div>
					<div class="row g-3">
						<div class="col-md-4">
							<input type="text" name="group_name" class="form-control" placeholder="Группа" value={ selectedOrEmpty(params.Email)}>
						</div>
						<div class="col-md-4">
							<select name="role_name" class="form-control">
								if params.RoleName == nil {
									<option value="" selected disabled>Роль</option>
									<option value="">Все</option>
									@selectOption(false, "admin", "Администратор")
									@selectOption(false, "manager", "Менеджер")
									@selectOption(false, "teacher", "Преподователь")
									@selectOption(false, "student", "Студент")
								} else {
									<option value="">Все</option>
									@selectOption(*params.RoleName == "admin", "admin", "Администратор")
									@selectOption(*params.RoleName == "manager", "manager", "Менеджер")
									@selectOption(*params.RoleName == "teacher", "teacher", "Преподаватель")
									@selectOption(*params.RoleName == "student", "student", "Студент")
								}
							</select>
						</div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-secondary w-100">Применить</button>
                        </div>
                    </div>
                    <input type="hidden" name="per_page" value={ fmt.Sprintf("%d", *params.PerPage) }>
                </form>
            </div>
        </div>

        <!-- Таблица с пагинацией -->
        <div id="usersTableContainer">
            @components.UsersTable(paginated, params)
        </div>
    </div>

    <!-- Модальное окно для формы -->
    <div class="modal fade" id="userModal" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content" id="userModalContent">
                <!-- сюда загрузится форма -->
            </div>
        </div>
    </div>

	<!-- Модальное окно для загрузки преподавателей -->
    <div class="modal fade" id="uploadModal" tabindex="-1" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content" id="uploadModalContent"></div>
        </div>
    </div>

    }

func selectedOrEmpty(s *string) string {
    if s == nil { return "" }
    return *s
}

templ selectOption(selected bool, value, text string) {
	if selected {
		<option value={ value } selected>{ text }</option>
	} else {
		<option value={ value }>{ text }</option>
	}
}
